<!DOCTYPE html>
<html lang="en">
<head>
    <base href="./app/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pula Pirata | Login</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="splash-screen">
        <div class="splash-screen-img"></div>
        <div class="splash-screen-msg">Carregando...</div>
    </div>
    <div class="error"><!-- msg --></div>

    <div class="content">
        <div class="panel">
            <div class="panel-header">
                LOGIN
            </div>
            <div class=panel-body>
                <form>
                    <div class="input-group">
                        <label for="email">Email:</label>
                        <input type="text" name="email" autocomplete="off">
                    </div>
                    <div class="input-group">
                        <label for="pass">Senha:</label>
                        <input type="password" name="pass">
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <div class="inline">
                    <a onclick="AUTH.guest()">Jogar sem conta</a>
                </div>
                <div class="inline">
                    <button type="button" onclick="AUTH.login()">Logar</button>
                    <a href="/register">Registrar-se</a>
                </div>
            </div>
        </div>
    </div>

    <script src="libs/crypto.js"></script>
    <script src="controllers/error.js"></script>
    <script src="controllers/splash-screen.js"></script>
    <script src="controllers/session.js"></script>
    <script src="controllers/auth.js"></script>
    <script src="controllers/modal.js"></script>
    <script>
        const AUTH = new auth();
    </script>
</body>
</html>